
:root {
  --background-color: #111;
  --bold-text-color: #ddd;
  --text-color: #ccc;
  --main-link-color: #79a7b5;
  --author-bio-border-color: #7c7c7c;
  --heading-border-color: #444;
}

* { margin: 0; padding: 0; }
html, body { height: 100%; }

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.8em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a { color: var(--main-link-color); text-decoration: none; }
a:hover { text-decoration: underline; }
h1, h2, h3, h4, h5, h6, strong { color: var(--bold-text-color); }

.align-right { float: right; }

.clearfix {
  &:before, &:after { content: ' '; display: table; }
  &:after { clear: both; }
  *zoom: 1;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.container > .header {
  padding: 30px 0;
}

.container > .header h1.title {
  display: inline-block;
  font-size: 1em;
}

.container > .header .links { padding: 0 0 0 20px; }

.container > .header .links a {
  font-size: 0.9em;
  padding: 0 10px;
}

.site-title > a { font-weight: bold; }

.about-me {
  font-style: italic;
  margin: 50px 0 0 0;
  font-family: Georgia, serif;
}
.about-me h2 {
  font-size: 2em;
  font-weight: bolder;
  margin: 0 0 30px 0;
}
.about-me .description {
  font-size: 1.1em;
  line-height: 2em;
}
.about-me .social-icons {
  margin-top: 2em;
  text-align: center;
}
.about-me .social-icons .screen-readers-only {
  display: none;
}
.about-me .social-icons a {
  display: inline-block;
  padding: 12px;
}
.about-me .social-icons a:hover {
  filter: brightness(150%);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.site .posts { padding: 50px 0 0 0; }
.site .posts .month { color: #aaa; padding: 30px 0; }

.site .posts .post-listing { line-height: 2em; }
.site .posts .post-listing .year { margin: 30px 0; }
.site .posts .post-listing ul { padding: 20px 0; }
.site .posts .post-listing ul li { list-style-type: none; }
.site .posts .published-on {
  font-size: 0.8em;
  padding: 0 20px 0 0;
}

.site .post .category,
.site .posts .category {
  padding: 0 5px;
  text-transform: uppercase;
}
.site .posts .category {
  font-size: 0.7em;
  color: #b8b8b8;
}
.site .post .category { font-size: 0.8em; }

.site .post h1.title {
  line-height: 1.4em;
  padding: 30px 0 20px 0;
}
.site .post .meta {
  color: #aaa;
  font-size: 0.9em;
}

.site .post .content {
  margin: 60px 0;
}
.site .post .content p  { margin: 20px 0; }
.site .post .content ul,
.site .post .content ol { margin: 20px 30px; }

.site .post .content ul ul { margin: 5px 0 10px 20px; }

.site .post .content h1 { font-size: 1.6em; margin: 1.6em 0 0.6em 0; }
.site .post .content h2 {
  border-bottom: 1px solid var(--heading-border-color);
  font-size: 1.5em;
  margin: 1.5em 0 1em 0;
  padding-bottom: 0.5em;
}
.site .post .content h3 { font-size: 1.4em; margin: 1.4em 0 0.4em 0; }
.site .post .content h4 { font-size: 1.3em; margin: 1.3em 0 0.3em 0; }
.site .post .content h5 { font-size: 1.2em; margin: 1.2em 0 0.2em 0; }
.site .post .content h6 { font-size: 1.1em; margin: 1.1em 0 0.1em 0; }

.site .post .content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.site .post .content code {
  border-radius: 3px;
  padding: 3px;
}

.site .post .content pre { padding: 20px; }

.site .post .content pre > code {
  background: none;
  border: none;
  padding: 0;
}

.site .post .content .highlight {
  border: 1px solid #222;
  font-size: 0.9em;
  line-height: 1.5em;
  overflow: auto;
}

.site .post .content blockquote {
  background: #111;
  border-left: 10px solid #222;
  font-size: 1.05em;
  font-style: italic;
  margin: 40px 0;
  padding: 0 40px;
}

#post-footer { margin-bottom: 50px; }

#author-bio {
  border-top: 1px solid var(--author-bio-border-color);
  font-size: 0.9em;
  padding: 60px 0px;
  position: relative;
}

#author-bio .links { text-align: center; }
#author-bio .links a { padding: 0 10px; }

#prev-next-nav {
  font-size: 0.9em;
  margin: 30px 0 0 0;
  overflow: hidden;
  padding: 15px 0;
  width: 100%;
}

#prev-next-nav div {
  display: inline-block;
  float: left;
  margin: 25px 0 0 0;
}
#prev-next-nav .next {
  float: right;
  padding: 0 0 0 5px;
  text-align: right;
}

.container > .footer {
  font-size: 0.8em;
  padding: 40px 0;
  text-align: center;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.categories-links { margin: 40px 0 100px 0; }

.note {
  background: #1b1b1b;
  border: 1px solid #535353;
  border-radius: 1em;
  margin: 2em 0;
}
.note p {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.youtube-embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.youtube-embed-container iframe,
.youtube-embed-container object,
.youtube-embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 500px) {
  body { font-size: 16px; }
  .site .post h2.title { font-size: 1.5em; }
  .post-listing .published-on, .post-listing .category { display: none; }
  .post-listing li { list-style-type: defaults }
  .site .posts .post-listing ul li {
    list-style-type: disc;
    margin: 0 0 0 1em;
  }
  .top-nav-link { padding: 0 5px; }
}
