<div id='author-bio'>
  <div class='gravatar'>
    <img src="https://www.gravatar.com/avatar/04fd01b158b5ca07858d023533b01b24?s=200" alt="Nithin Bekal">
  </div>

  <div class='bio'>
    Hi, I’m Nithin Bekal.
    I work at <a href='https://www.shopify.com'>Shopify</a> in Ottawa, Canada.
    Previously, co-founder of
    <a href='https://www.crowdstudio.in/'>CrowdStudio.in</a> and
    <a href='https://wowmakers.com/'>WowMakers</a>.
    Ruby is my preferred programming language,
    and the topic of most of my articles here,
    but I'm also a big fan of Elixir.
    Tweet to me at <a href='https://twitter.com/nithinbekal'>@nithinbekal</a>.
    <br>
    <br>
    <div class='links'>
      <a id='bio-home-link' href='/'>Posts</a>
      <a id='bio-about-link' href='/about/'>About</a>
      <a id='bio-resume-link' href='/resume'>Resume</a>
    </div>
  </div>
</div>
