<div id='author-bio'>
  <div class='bio'>
    Hi, I’m Nithin!
    This is my blog about programming.
    Ruby is my programming language of choice
    and the topic of most of my articles here,
    but I occasionally also write about Elixir,
    and sometimes about the books I read.
    If you want to subscribe to this blog,
    the feed is available <a href="/feed.xml">here</a>.
    <br>
    <br>
    <div class='links'>
      <a id='bio-home-link' href='/'>Posts</a>
      <a id='bio-about-link' href='/about/'>About</a>
    </div>
  </div>
</div>
