<script src="https://giscus.app/client.js"
        data-repo="nithinbekal/nithinbekal.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxODgzMjgxNg=="
        data-category="Comments"
        data-category-id="DIC_kwDOAR9dsM4CfG1P"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="transparent_dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
