<div class="note">
  <p>
    This is part of my
    <em>Favorite Books of the Year</em>
    series.
    You can find the other posts below,
    or 
    <a href="https://www.goodreads.com/user/show/1059476-nithin-bekal">follow me on Goodreads</a>.
  </p>

  <p>
    <a href="/posts/books-2024/">2024</a> &nbsp;&nbsp;
    <a href="/posts/books-2023/">2023</a> &nbsp;&nbsp;
    <a href="/posts/books-2022/">2022</a> &nbsp;&nbsp;
    <a href="/posts/books-2021/">2021</a> &nbsp;&nbsp;
    <a href="/posts/books-2020/">2020</a> &nbsp;&nbsp;
    <a href="/posts/books-2019/">2019</a> &nbsp;&nbsp;
    <a href="/posts/books-2018/">2018</a> &nbsp;&nbsp;
    <a href="/posts/favorite-books-2017/">2017</a> &nbsp;&nbsp;
    <a href="/posts/favorite-books-2016/">2016</a> &nbsp;&nbsp;
    <a href="/posts/favorite-books-2015/">2015</a> &nbsp;&nbsp;
    <a href="/posts/favorite-books-2014/">2014</a> &nbsp;&nbsp;
    <a href="/posts/favorite-books-2013/">2013</a> &nbsp;&nbsp;
  </p>
</div>
