<div class='subscribe'>
  <p class='text-lg'>Want to receive new articles via email?</p>

  <form action="https://feedburner.google.com/fb/a/mailverify"
        class='subscribe-form clearfix' method="post" target="popupwindow"
        onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=nithinbekal', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
    <input type="text" class='subscribe-email' name="email"
            tabindex="0" placeholder="Enter your email" />
    <input type="hidden" value="nithinbekal" name="uri"/>
    <input type="hidden" name="loc" value="en_US"/>
    <input type="submit" value="Subscribe"
            tabindex="1" class="subscribe-submit" />
  </form>

  <p class='text-sm'>
    You can also subscribe using your feed reader using the
    <a href="/feed.xml">atom feed</a>.
  </p>
</div>
