<div class='subscribe'>
  <script>
  function submitFeedburnerForm() {
    ga('send', {
      'hitType': 'event',
      'eventCategory': 'Feedburner',
      'eventAction': 'Subscribe',
      'eventLabel': 'Email Subscription'
    });
    window.open(
      'https://feedburner.google.com/fb/a/mailverify?uri=nithinbekal',
      'popupwindow',
      'scrollbars=yes,width=550,height=520');
    return true;
  }
  </script>

  <p class='text-lg'>Want to receive new articles via email?</p>
  <form action="https://feedburner.google.com/fb/a/mailverify"
      class='subscribe-form clearfix' method="post" target="popupwindow"
      onsubmit="return submitFeedburnerForm();">
    <input type="text" class='subscribe-email' name="email"
      placeholder="Enter your email" />
    <input type="hidden" value="nithinbekal" name="uri"/>
    <input type="hidden" name="loc" value="en_US"/>
    <input type="submit" value="Subscribe" class="subscribe-submit" />
  </form>

  <p class='text-sm'>
    You can also subscribe using your feed reader using the
    <a href="/feed.xml">atom feed</a>.
  </p>
</div>
