---
layout: default
---

<div class='post'>
  <h2 class='title'>{{ page.title }}</h2>
  <p class='meta'>{{ page.date | date_to_string }}</p>

  <div class='content'>
  {{ content }}
  </div>

  <div class='post-nav'>
    <a href='/'>Home</a>
    <a href='/about/'>About</a>
    <a href='/subscribe/'>Subscribe</a>
  </div>

  <div class='social-share'>
    <!-- <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-text="{{ page.title }}" data-via='nithinbekal' data-count="horizontal">Share on Twitter</a> -->
  </div>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_loaded = false;
    function load_disqus()
    {
      disqus_loaded = true;
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = "http://nithinbekal.disqus.com/embed.js";
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      var ldr = document.getElementById('disqus_loader');
      ldr.parentNode.removeChild(ldr);
    }
    setTimeout(load_disqus, 1000);
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>

<!-- <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->
